- name: app setup
  ansible.builtin.import_role:          # Import a role's tasks **statically** at playbook parse time
    name: common                        # The role to import (common role)
    tasks_from: app-setup.yaml          # Only import tasks from the file app-setup.yaml inside the role

- name: app setup
  ansible.builtin.import_role:          # Import another set of tasks from the same role
    name: common                        # Role name: common
    tasks_from: python.yaml             # Only import tasks from python.yaml (e.g., to setup Python applications)

- name: system setup
  ansible.builtin.import_role:          # Import system-level setup tasks from the common role
    name: common                        # Role name: common
    tasks_from: system-setup.yaml       # Only import tasks from system-setup.yaml (e.g., for system configuration)
